:root {
    --primary-color: deeppink;
    --secondary-color: yellow;
    --dark-grey-color: darkgrey;
    --light-grey-color: lightgrey;
    --white-color: white;
    --black-color: black;
    --font-family: Arial;
}
